/* 
    Dylan Barkowsky - C0509422
	ICS-118 Midterm
	Last revision: 2021-11-01

    color palette
    off-black: #0f0f1b
    slate: #565a75
    mauve: #c6b7be
    off-white: #fafbf6

    fonts
    font-family: 'Caveat', cursive; -h3
    font-family: 'Cinzel', serif; -regular text
    font-family: 'Oswald', sans-serif;  -header, h1, h2
*/


/*general body and container*/
html, body{
    width: 100%;
    min-width: 375px;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*in case fonts fail*/
}

.container{
    display: flex; /* format all children using flexbox */
    flex-direction: row; /* orient the children in a horizontal row */
    align-items: center; /* vertical alignment */
    justify-content: center; /* center the items horizontally */
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: inherit;
}

/*header, which includes title and navigation*/
header{
    width: 100%;
    height: 60px;
    background-color: #0f0f1b;
    color: #fafbf6;
    position: fixed;
    z-index: 100;
}

header .container{
    flex-direction: row;
}

.title{
    display: block;
    margin-right: auto;
    margin-left: 2em;
    position: flex;
    font-family: 'Oswald', sans-serif;
}

.nav{
    line-height: 70px;
    height: fit-content;
    text-align: right;
    display: block;
    position: flex;
    margin-left: auto;
    margin-right: 2em;
    font-family: 'Oswald', sans-serif;
}

.menu{
    margin: 0; 
    display: block;
    top: 140px;
}

.menu a{
    clear: right;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    color: #fafbf6;
    padding: 25px 20px;
}

.menu a:hover{
    transition: 0.5s;
    background-color: #565a75;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #fafbf6;
    margin-left: auto;
}

.drop-enabled {
    content: '01745B';
}

#toggle{
    display: none;
}

/*controls background video*/
.video{
    align-items: center;
    z-index: -100;
    position: absolute;
}

.video video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*div which allows a gap for video viewing*/
.viewport{
    height: 50vh;
    width: inherit;
    text-align: center;
    align-items: center;
    display: flex;
}

.viewport h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    position: relative;
    color: #fafbf6;
    z-index: 0;
}

/*section for 3 facts starts here*/
.facts{
    background-color: #fafbf6;
}

.facts .container{
    align-items:baseline;
}

.fact-box{
    position: flex;
    width: 46%;
    height: auto;
    padding: 30px 20px;
}



/*section for info starts here*/
img{
    max-height: 100px;
}

section.info{
    height: auto;
    background-image: url("../images/20211020093010_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 2em;
}

#info-blurb{
    background-color: #fafbf675;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}



/* section for subscribe/sign up area starts here */
.signup{
    height:auto;
    min-height: 400px;
}

.signup-box{
    height: max-content;
    margin: 30px 10px;
    align-items: center;
    flex-direction: column;
    position: relative;
    display: inline-block;
    width: 70%;
    max-width: 600px;
    min-height: 300px;
    min-width: 450px;
}

.signup-video{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    filter: blur(4px);
    border-radius: 10px;
    top: 0;
    left: 0;
    min-height: 300px;
    min-width: 450px;
}

.signup-video video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 450px;
}

.signup-form{
    z-index: 100;
    position: absolute;
    top: 0; 
    left: -10px;
    text-align: center;
    color: #fafbf6;
    padding: 10px;
    width: 100%;
    min-width: 400px;
}

input#name{
    display: block;
    width: 60%;
    height: 30px;
    margin: 15px auto;
    background-color: #0f0f1b;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fafbf6;
    padding-left: 1em;
}

input#email{
    display: block;
    width: 60%;
    height: 30px;
    margin: 15px auto;
    background-color: #0f0f1b;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fafbf6;
    padding-left: 1em;
}

button{
    display: block;
    width: 30%;
    height: 30px;
    margin: 15px auto;
    background-color: #0f0f1b;
    color: #fafbf6;
    font-style: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

/*general tags*/
p{
    font-family: 'Cinzel', serif;
    padding: 0em 2em;
}

h2{
    font-family: 'Oswald', sans-serif;
    margin: 0.5em;
    font-size: 32px;
}

h3{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0.5em;
}

/*for testing
div, section{
    border: 0.1px black solid;
} */

/*tablet and narrow screen settings*/
@media only screen and (max-width: 1000px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    
    /*facts section here*/
    .fact-box{
        width: 80%;
        border-bottom: #565a75 1px solid;
        margin:0 auto;
    }

    /*to remove the border on the final fact, so it is only between.*/
    #final-fact{
        border-bottom: none;
    }
}

/*mobile settings*/
@media only screen and (max-width: 720px) {    
    label {
        display: block;
        cursor: pointer;
        margin:0;
        top: 0;
    }

    .nav{
        position: absolute;
        right: 0;
        font-size: 14px;
        line-height: 35px;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        right: -20em;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        padding: 5px;
        line-height: 2em;
        background-color: #0f0f1b75;
    }

    /* control checkbox for hamburger menu */
    #toggle:checked ~ .menu {
        display: block;
        position: absolute;
        width: auto;
        top: 65px;
        right: -1.9em;
    }

    /*increased video peak div to be a bit larger*/
    .viewport{
        height: 70vh;
    }

    .viewport h1{
        font-size: 25px;
    }

    /*info section here*/
    #info-blurb{
        height: 80%;
        width: 100%;
    }

    /*subscribe section here*/
    section.signup .container{
        width: 90vw;
    }

    .signup-form{
        width: 100%;
    }
    
    .signup-form p{
        font-size: 12px;
    }

}
