../../../.cisco/
../../../.gitconfig
../../../.lesshst
../../../.vscode/
../../../AppData/
../../../Application Data/
../../../Cisco Packet Tracer 8.0/
../../../Contacts/
../../../Cookies/
../../../Desktop/
../../../Documents/
../../../Favorites/
../../../Links/
../../../Local Settings/
../../../MicrosoftEdgeBackups/
../../../Music/
../../../My Documents/
../../../NTUSER.DAT
../../../NTUSER.DAT{a1f410b1-855c-11eb-9074-244bfe586861}.TM.blf
../../../NTUSER.DAT{a1f410b1-855c-11eb-9074-244bfe586861}.TMContainer00000000000000000001.regtrans-ms
../../../NTUSER.DAT{a1f410b1-855c-11eb-9074-244bfe586861}.TMContainer00000000000000000002.regtrans-ms
../../../New_document_1-text4381-32.png
../../.849C9593-D756-4E56-8D6E-42412F2A707B
../../Book.xlsx
../../CDEV-WPS/
../../Document.docx
../../ICS-110/
../../ICS-113/
../../ICS-114/
../Dylan_Barkowsky_Midterm.zip
../Lab Assignments/
../Lab Practice/
../Lecture Practice/
../Lecture Slides/
../Template/
../../LRNS-102/
../../MATH-156/
../../Personal Learning/
../../WS Story/
../../desktop.ini
../../../Pictures/
../../../Recent/
../../../Saved Games/
../../../Searches/
../../../SendTo/
../../../Start Menu/
../../../Videos/
../../../ntuser.dat.LOG1
../../../ntuser.dat.LOG2
../../../ntuser.ini
